<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.optiim.automation.TestScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>test16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>test7</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
