<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:17</td>   <td>-17274</td> <td title="&gt;&gt;TestScenario.setUp()[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>18</td> <td title="&lt;&lt;TestScenario.tearDown()[pri:0, instance:com.optiim.automation.TestScenario@4c371370]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:20</td>   <td>-15051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test1()[pri:1, instance:com.optiim.automation.TestScenario@4c371370]">test1</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:31</td>   <td>-3504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test10()[pri:10, instance:com.optiim.automation.TestScenario@4c371370]">test10</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:32</td>   <td>-2275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test11()[pri:11, instance:com.optiim.automation.TestScenario@4c371370]">test11</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:32</td>   <td>-2273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test12()[pri:12, instance:com.optiim.automation.TestScenario@4c371370]">test12</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:33</td>   <td>-2124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test13()[pri:13, instance:com.optiim.automation.TestScenario@4c371370]">test13</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:33</td>   <td>-1858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test14()[pri:14, instance:com.optiim.automation.TestScenario@4c371370]">test14</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:34</td>   <td>-710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test15()[pri:15, instance:com.optiim.automation.TestScenario@4c371370]">test15</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:35</td>   <td>-30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test16()[pri:16, instance:com.optiim.automation.TestScenario@4c371370]">test16</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:21</td>   <td>-13536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test2()[pri:2, instance:com.optiim.automation.TestScenario@4c371370]">test2</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:26</td>   <td>-9054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test3()[pri:3, instance:com.optiim.automation.TestScenario@4c371370]">test3</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:27</td>   <td>-8111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test4()[pri:4, instance:com.optiim.automation.TestScenario@4c371370]">test4</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:27</td>   <td>-7306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test5()[pri:5, instance:com.optiim.automation.TestScenario@4c371370]">test5</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:27</td>   <td>-7304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test6()[pri:6, instance:com.optiim.automation.TestScenario@4c371370]">test6</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:29</td>   <td>-5687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test7()[pri:7, instance:com.optiim.automation.TestScenario@4c371370]">test7</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:30</td>   <td>-4350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test8()[pri:8, instance:com.optiim.automation.TestScenario@4c371370]">test8</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/13 01:45:31</td>   <td>-3989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.test9()[pri:9, instance:com.optiim.automation.TestScenario@4c371370]">test9</td> 
  <td>main@617901222</td>   <td></td> </tr>
</table>
