<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.optiim.automation.TestScenario</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCheckPopupAddedFavorites</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickAddBasketText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testOpenMainPageAndVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickNextPageAndVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickMyBasketButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickFiftyProduct</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearchAndVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearchedTermVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickMyAccountAndFavoriteProducts</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testTrashBasketText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testIsEmptyBasket</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClosePopupAddBasket</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickAddFavoritesButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testProductVerify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickMobilePhoneCategory</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
