<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestScenario.afterMethod(org.testng.ITestResult)[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:55:44</td>   <td>-42239</td> <td title="&gt;&gt;TestScenario.setUp()[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:26</td>   <td>85</td> <td title="&lt;&lt;TestScenario.tearDown()[pri:0, instance:com.optiim.automation.TestScenario@7b2bbc3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:20</td>   <td>-5758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testCheckPopupAddedFavorites()[pri:9, instance:com.optiim.automation.TestScenario@7b2bbc3]">testCheckPopupAddedFavorites</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:22</td>   <td>-3783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickAddBasketText()[pri:12, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickAddBasketText</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:20</td>   <td>-5983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickAddFavoritesButton()[pri:8, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickAddFavoritesButton</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:18</td>   <td>-7788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickFiftyProduct()[pri:7, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickFiftyProduct</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:14</td>   <td>-11899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickMobilePhoneCategory()[pri:4, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickMobilePhoneCategory</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:21</td>   <td>-5299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickMyAccountAndFavoriteProducts()[pri:10, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickMyAccountAndFavoriteProducts</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:24</td>   <td>-2010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickMyBasketButton()[pri:14, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickMyBasketButton</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:17</td>   <td>-9476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClickNextPageAndVerify()[pri:6, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClickNextPageAndVerify</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:23</td>   <td>-3634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testClosePopupAddBasket()[pri:13, instance:com.optiim.automation.TestScenario@7b2bbc3]">testClosePopupAddBasket</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:25</td>   <td>-704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testIsEmptyBasket()[pri:16, instance:com.optiim.automation.TestScenario@7b2bbc3]">testIsEmptyBasket</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:06</td>   <td>-20656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testLogin()[pri:2, instance:com.optiim.automation.TestScenario@7b2bbc3]">testLogin</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:55:46</td>   <td>-39940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testOpenMainPageAndVerify()[pri:1, instance:com.optiim.automation.TestScenario@7b2bbc3]">testOpenMainPageAndVerify</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:22</td>   <td>-3786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testProductVerify()[pri:11, instance:com.optiim.automation.TestScenario@7b2bbc3]">testProductVerify</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:10</td>   <td>-16165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testSearchAndVerify(java.lang.String)[pri:3, instance:com.optiim.automation.TestScenario@7b2bbc3]">testSearchAndVerify</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:16</td>   <td>-9739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testSearchedTermVerify(java.lang.String)[pri:5, instance:com.optiim.automation.TestScenario@7b2bbc3]">testSearchedTermVerify</td> 
  <td>main@617901222</td>   <td></td> </tr>
<tr bgcolor="8a809c">  <td>23/08/23 15:56:25</td>   <td>-885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScenario.testTrashBasketText()[pri:15, instance:com.optiim.automation.TestScenario@7b2bbc3]">testTrashBasketText</td> 
  <td>main@617901222</td>   <td></td> </tr>
</table>
